// $sidebar-bg-color: #ffffff !default;
// $sidebar-color: #000000 !default;
$sidebar-width: 250px !default;
$sidebar-collapsed-width: 80px !default;
// $highlight-color: #eeb8b8 !default;
// $submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: transparent !default;
// $icon-bg-color: #ffffff !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

#CellarPage {

  .pro-sidebar {
    min-height: 100vh;
    padding-bottom: 100vh;
  }

  .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background: none;
  }

  .popper-inner {
    display: none !important;
  }

  span.pro-icon-wrapper {
    background: none;
  }

  .pro-sidebar > .pro-sidebar-inner {
    background: none;
  }

  .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
    border: none;
  }

  .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    padding-top: 15px;
  }

  .bottle-icon, span.pro-icon {
    font-size: 1.2rem;
  }

  // Opening / closing sidebar
  .close-icon {
    font-size: 1.5rem;
    margin-left: 216px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .open-icon {
    font-size: 1.5rem;
    margin-left: 46px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .active-side {
    display: none;
  }

}

@import '~react-pro-sidebar/dist/scss/styles.scss';
